Repository MERA-IOT-COURSE/Group3_IoT_Services, pull requests merged in 2018-11, with the labels that each got.

#24 The Protocol implementation
  Protocol/example.js
  Protocol/index.js
  Protocol/package-lock.json
  Protocol/package.json
  Protocol/src/communication/broker.js
  Protocol/src/communication/hosts.js
  Protocol/src/messages/action.requests.js
  Protocol/src/messages/action.responses.js
  Protocol/src/messages/base.instances.js
  Protocol/src/messages/message.js
  Protocol/src/messages/register.request.js
  Protocol/src/messages/register.response.js
  Protocol/src/messages/sensor.data.js
  Protocol/src/models/device.js
  Protocol/src/models/dict.actions.js
  Protocol/src/models/dict.sensors.js
Labels: Project.Protocol, Status.Review

#31 Move Broker class from Protocol into Models + small improving
  Models/index.js
  Models/src/objects/broker.js
  Protocol/example.js
  Protocol/index.js
  Protocol/src/communication/device.js
  Protocol/src/communication/host.js
  Protocol/src/communication/server.js
Labels: Project.Protocol, Status.Done

#33 Fix issues with "npm install" for Device and Server modules
  .gitignore
  Device/package-lock.json
  Models/package-lock.json
  Protocol/package-lock.json
  Server/package-lock.json
  Utils/package-lock.json
  flow.js
  package.json
Labels: Status.Review, Task.Bug, Task.Feature, Task.TestEnv

#35 Develop configurations profiles
  Device/src/backend/profile/profile.js
  Models/index.js
  Models/src/objects/profile.js
  Server/src/backend/profile/profile.js
  Utils/src/config.profile.js
  Utils/src/logs.js
Labels: Project.Device, Project.Server, Side.BE, Status.Review, Task.Feature

#37 Fix issues (server/device FE startup)
  Device/index.js
  Models/src/objects/profile.js
  Server/index.js
Labels: Project.Device, Project.Server, Side.FE, Status.Review, Task.Bug

#38 Add device status in profile
  Models/src/objects/profile.js
Labels: Project.Device, Side.BE, Status.Review

#43 Fix issue to reinstall modules on Windows (2)
  flow.js
Labels: Status.Review, Task.TestEnv

#42 Update Protocol data class
  Models/src/data/response.register.js
Labels: Project.Protocol, Status.Review

#46 Rewrite logging mechanism
  .gitignore
  Device/package.json
  Device/src/backend/profile/config.js
  Device/src/backend/web/server.js
  Protocol/example.js
  Protocol/src/communication/device.js
  Protocol/src/communication/host.js
  Protocol/src/communication/server.js
  Server/package.json
  Server/src/backend/web/server.js
  Utils/index.js
  Utils/package.json
  Utils/src/config.profile.js
  Utils/src/logger.js
  Utils/src/logs.js
  Utils/src/storage.output.js
Labels: Project.Device, Project.Server, Side.BE, Status.Review
