Repository MERA-IOT-COURSE/Group3_IoT_Services, pull requests merged in 2018-12, with the labels that each got.

#47 Setup CI and reformat code
  .eslintignore
  .eslintrc.json
  .travis.yml
  Device/src/backend/profile/config.js
  Device/src/backend/profile/profile.js
  Device/src/backend/web/server.js
  README.md
  Server/src/backend/profile/profile.js
  Server/src/backend/web/server.js
  Utils/src/error.implementation.js
  Utils/src/logger.js
  Utils/src/storage.output.js
  Utils/test/errors.js
  flow.js
  package.json
Labels: Status.Review, Task.TestEnv

#51 Setup MongoDB
  .gitignore
  Broker/docker-compose.yml
  Database/Dockerfile
  Database/docker-compose.yml
  README.md
Labels: Status.Review, Task.TestEnv

#53 Implement Protocol interface: AbstractDevice
  Device/src/backend/protocol/device.js
Labels: Project.Device, Side.BE

#54 Implement Protocol interface: AbstractServer
  Server/src/backend/protocol/server.js
Labels: Project.Server, Side.BE

#58 Fix issue "Cannot find module './src/error.implementation'"
  Utils/src/config.profile.js
Labels: Module.Protocol, Module.Utils, Task.Bug

#69 Fix parameters for eslint and mocha to define files correctly
  .eslintrc.json
  Common/src/models/containers/profile.js
  Common/test/utils/errors/implementation.js
  Device/src/backend/protocol/device.js
  Server/src/backend/protocol/server.js
  package.json
Labels: Module.Project, Task.Bug

#70 Update models that require array instead of null and new unit tests
  Common/src/models/protocol/data/request.register.js
  Common/src/models/protocol/data/response.register.js
  Common/src/models/protocol/entities/device.js
  Common/src/models/protocol/entities/sensor.js
  Common/src/utils/web/configurator.js
  Common/test/models/protocol/data/request.action.device.js
  Common/test/models/protocol/data/request.action.sensor.js
  Common/test/models/protocol/data/request.register.js
  Common/test/models/protocol/data/response.action.device.js
  Common/test/models/protocol/data/response.action.sensor.js
  Common/test/models/protocol/data/response.register.js
  Common/test/models/protocol/data/response.sensor.js
  Common/test/models/protocol/entities/action.js
  Common/test/models/protocol/entities/device.js
  Common/test/models/protocol/entities/sensor.js
  Common/test/utils/web/configurator.js
  package.json
Labels: Module.Common, Task.Bug, Task.TestEnv

#73 Verify Docker containers
  .travis.yml
Labels: Module.Broker, Module.Database, Task.Feature, Task.TestEnv
